.pg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-pg {
  width: 60px !important;
  height: 40px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: blue !important;
}

.button-pg i {
  color: white;
}

.button-pg:hover {
  background-color: rgb(34, 34, 136) !important;
}

.button-pg:hover i {
  color: white;
}

.button-disable {
  border: none !important;
  background-color: gray !important;
  cursor: not-allowed !important;
}

.button-disable i {
  color: rgba(255, 255, 255, 1);
}

.button-disable:hover {
  background-color: grey !important;
  cursor: not-allowed !important;
}

.button-pg:hover i {
  color: rgba(255, 255, 255, 1);
}

.page-number {
  font-size: 16px;
  font-style: italic;
  margin: 0 20px;
  color: royalblue;
}
