.nav-left {
  height: 100%;
  min-width: 20%;
  width: 20%;
  background: #005b96;
  color: #03b9d3;
}

.nav-left li {
  height: 50px;
}

.nav-header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav-left .link {
  padding-left: 30px;
  width: 100%;
  height: 100%;
  font-size: 50;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.nav-left .link:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: #0488de;
}

.nav-left .active {
  background: #014068;
  color: white;
}

.nav-left .icon {
  margin-right: 10px;
}
