.staff-body {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.button-control {
  align-self: flex-end;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button-control-start {
  align-self: flex-start;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button-control-start select {
  margin-left: 5px;
  border: blue solid 1px;
  height: 30px;
  width: 120px;
  color: #005b96;
}

.button-control-start span {
  color: #005b96;
  font-weight: bolder;
}

.button-control-start select:focus {
  border: blue solid 1px;
  box-shadow: none;
  outline: none;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table-title {
  align-self: flex-start;
  margin-top: 20px;
}

.table-data {
  position: relative;
  width: 90%;
  height: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.cell-center {
  margin: auto;
  width: fit-content;
}

.table-data .thead-green {
  background-color: #005b96;
  color: white;
  box-shadow: none;
}
.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-title {
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.modal-header {
  border: none !important;
  display: flex;
  background: #005b96;
  color: white;
  font-size: larger !important;
  height: 60px;
  margin-bottom: 10px;
}

.modal-header .close {
  color: white;
}

.modal-header .close:hover {
  color: white;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  min-width: 30%;
}

.dialog-body {
  margin: 0 10px;
}

.button-group-center {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.pg-bottom {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100% !important;
}
